body {
    background-color: #000000;
    color: #ffffff;
}

#container {
    display: grid;
    position: relative;
    width: auto;
    height:auto;
    background-image: linear-gradient(120deg, rgb(47, 47, 255),rgb(63, 196, 253));
    margin: 3%;
    padding: .3%;
}

#border {
    background-color: #000000;
    padding: .9%;
}

h2 {
    font-size: 1.2em;
}

.link-list{
    position: absolute;
    bottom: 0;
}

p{
    margin: 2em;
    margin-bottom: 20%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', 'Arial', 'sans-serif';
}

i{
    width: 3em;
    height: auto;
}