body {
    background-color: #000000;
    color: #ffffff;
}

#container {
    display: grid;
    width: 90vw;
    height: 85vh;
    background-color: #ffffff;
    margin: 3%;
    padding: .3%;
}

#border {
    background-color: #000000;
    padding: .9%;
}

h2 {
    font-size: 1.2em;
}